.google {
  color: hsla(11, 79%, 48%, 0.5);
}

.google:visited {
  color: #219213;
}

.google1 {
  color: hsla(85, 79%, 48%, 0.5);
  text-decoration: none;
}

.google1:visited {
  color: #221392;
  background-color: #461392;
}

.enlaceboton {
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  padding: 4px;
  background-color: #48fd06;
  color: #fffcfc;
  text-decoration: none;
}

.enlaceboton:link,
.enlaceboton:visited {
  border-top: 1px solid #cccccc;
  border-bottom: 2px solid #666666;
  border-left: 1px solid #cccccc;
  border-right: 2px solid #fff7f7;
  background-color: blue;
}

.enlaceboton:hover,
.enlaceboton:active {
  border-bottom: 3px solid #cccccc;
  border-top: 2px solid #666666;
  border-right: 1px solid #cccccc;
  border-left: 2px solid #666666;
}